.header{
    width: 100%;
    height: 100px;
    display: flex;
    background-color: #ffcc32!important;
    margin: 0px;
    padding: 0px 0;
    
}
.header-content{
    width: 80%;
    height: fit-content;
    margin: auto;
    padding: 20px 0;
    max-width: 1040px;
    display: flex;   
}

.header-menu{
    width: 50%;
   font-family: 'Quicksand',Helvetica,Arial,Lucida,sans-serif;
  font-size: 16px;
  color: #662d91;
  text-decoration-line: none;
   
}
.header-menu ul li{
    list-style-type: none;
    text-decoration-line: none;
    padding: 8px;
    font-weight: 600;
}

.header-menu ul{
    display: flex;
}
.logo-h{
    width: 50%;
    height: auto;
}
.logo{
    width: 150px;
    height: 150px;
}
.header1{
    width: 70%;
    text-align: left;
   
    color: #662d91;
}
.content2{
    padding: 27px 0;
    font-size: 21px;
    color: #662d91;
}.container1{
    width: 100%;
    height: auto;
    text-align: center;
    align-items: center;
    font-weight: 700;
    font-family: Quicksand, Helvetica, Arial, Lucida, sans-serif;
    color: #662d91;
    margin-top: 0px;    
}
.text h1{
   
}
 .text{
    
    width: 100%;
    height: 94px;
    line-height: 23.4px;
    letter-spacing: normal;
   font-weight: 300;
    text-align: center;
    margin-top: 65px;
} 
.image{
    display: flex;
  
    padding: 0 116px;
}

.product{
    width: 600px;
    height: auto;
    
} 
.model{
    width: 50%;
    height: auto;
   
}
.productimg{
    width: 510px;
    height: 432px;
   
}
.modelimg{
    width: 510px;
    height: 464px;
}

.container2{
    font-family: 'Quicksand',Helvetica,Arial,Lucida,sans-serif;
    font-size: 18px;
    line-height: 1.3em;
    text-align: center;
    color: #662d91;
    width: 100%;
    height: fit-content;
}
.container3{
    width: 100%;
    height:  fit-content;
    font-size: 18px;
    font-weight: 700;
    line-height: 1em;
    background: #ffcc32;
    text-align: center;
    color: #662d91;
    padding: 54px 0;
    
}
/* .sub-container3{
    width: 70%;
    height: 1000px;
} */
.header1{
    width: 70%;
    height: auto;
   
    padding: 70px 124px;
}
.main-content1{
    width: 80%; 
    height: auto;
    /* max-width: 1040px; */
    text-align: center;
    margin-left: 144px;
    /* display: flex; */
    font-family: 'Quicksand',Helvetica,Arial,Lucida,sans-serif;
    font-weight: 500;
   
}
.sub-content1{
    width: 100%;
    display: flex;
}
.sub1{
    width: 50%;
    height: fit-content;
    font-size: 20px;
    margin-right: 5.5%;
    display: flex;
    
   
    
}
.textt{
    width: 50%;
    height: fit-content;
    text-align: left;
    font-weight: 200;
    margin-right: 5.5%;
}
.textt h3{
    margin-bottom: 13.174%;
}
.ice-cream-icon{
  width: 50%;
  align-items: center;
   
}
.sub2{
    width: 50%;
    height: fit-content;
    font-size: 19px;
    text-align: left;
   display: flex;
   margin-right: 5.5%;
}
.text2{
    width: 50%;
    height: fit-content;
    margin-right: 5.5%;
    
}
.text2 h3{
    margin-bottom: 13.174%;
}.health-icon{
    width: 50%;
    align-items: center;
}
.sub-content2{
    width: 100%;
    display: flex;
    margin-right: 5.5%;
}
.sub3{
    width: 50%;
    height: fit-content;
    font-size: 19px;
    text-align: left;
    display: flex;
    margin-right: 5.5%;
    
}
.text3 h3{
    margin-bottom: 13.174%;
}
.text3{
    width: 50%;
    height: fit-content;
    margin-right: 5.5%;
}
.natural-icon{
    width: 50%;
    align-items: center;
}
.sub4{
    width: 50%;
    height: fit-content;
    font-size: 19px;
    text-align: left;
   display: flex;
   margin-right: 5.5%;
    
    
}
.text4 h3{
    margin-bottom: 13.174%;
}
.text4{
    width: 50%;
    height: fit-content;
    margin-right: 5.5%;
    
    
   
}
.sustainable-icon{
  
    width: 50%;
    align-items: center;
}
.container4{
    width: 100%;
    height: fit-content;
    background: #fff;
    margin: 0px 0;
    align-items: center;
    text-align: left;
    padding: 54px 0;
   
}
.sub-container4{
    width: 80%; 
    height: auto;
    /* max-width: 1040px; */
    text-align: left;
    font-family: Open Sans,Arial,sans-serif;
    font-size: 18px;
    color: #662d91;
    margin-left: 144px

}
.inside-text4{
    /* padding: 27px 0; */
}
.paragraph4{
    padding: 27px 0;
}
.tubes{
    width: 1079px;
    height: 60px;
    background: #662d91;
    text-align: left;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    margin: 17px 0;
    border: 1px solid;

}.cones{
    width: 1079px;
    height: 60px;
    background: #662d91;
    text-align: left;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid;
    /* margin: 28px 0; */
}.bars{
    width: 1079px;
    height: 60px;
    background: #662d91;
    text-align: left;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid;
    margin: 17px 0;
}
.container5{
    width: 100%;
    height: 550px;
    background: #ffcc32;
    
    text-align: left;
    
   
}
.sub5{
    padding-left: 160px;
    padding-top: 88px;
}
.sub-container5{
    width: 80%;
    height: fit-content;
    text-align: left;
    margin-left: 165px;
    font-family: 'Quicksand',Helvetica,Arial,Lucida,sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.7em;
    font-size: 100%; 
    color: #662d91;
    padding: 15px 0;
    display: flex;

}
.vedio{
    width: 50%;
    /* float: left; */
    
    
}
.text-5{
    width: 50%;
    padding: 0px 62px
}
 .container6{
    width: 100%;
    height: fit-content;
    padding: 0px 0;
   
    
}

.sub-container6{
    width: 80%;
    height: fit-content;
    padding: 30px 0;
    margin: 30px 155px;
} 
.sub6{
    
    width: 1079px;
   
    text-align: left;
    
}
.details{
    text-align: left;
    

}
.name{
    width: 1079.4px;
    height: 51.2px;
    background: #eee;
    margin: 10px 0;
    border-width: 0;
    border-radius: 0;
    color: #999;
    font-size: 14px;
    
}
.email{
    width: 522px;
    height: 51.2px;
    background: #eee;
    margin: 10px 0;
    border-width: 0;
    border-radius: 0;
    color: #999;
    font-size: 14px;
    
}
.phone{
    width: 512px;
    height: 51.2px;
    background: #eee;
    margin: 10px 15px;
    padding-left: 5px;
    border-width: 0;
    border-radius: 0;
    color: #999;
    font-size: 14px;
    
}
.message{
    width: 1079.4px;
    height: 200px;
    background: #eee;
    margin: 10px 0;
    border-width: 0;
    border-radius: 0;
    color: #999;
    font-size: 14px;
    
}
.group{
    width: 30%;
    margin-left: 78%;
    padding: 10px;
    display: flex;
}
.question{
width: 50px;
height: auto;

}
.ans{
    width: 50px;
    height: 40px;
    background: #eee;
    border: 0;
    
   
}
.submit{
    width: 109px;
    height: 50px;
    background: none;
    margin-left: 18px;
    border: 2px solid;
    color: aqua;
  border-color:#2ea3f2;
    font-size: 15px;
    
}
.container7{
    width: 100%;
    height: fit-content;
    color: #662d91;
    
    padding-bottom: 50px; 
    text-align: center;
    
  
    
}
.container8{
    width: 100%;
    height: fit-content;
    background: #662d91;
    color: white;
    text-align: left;
    display: flex;
}
.sub8{
    width: 50%;
    height: 128px;
    padding: 101px;
    padding-left: 176px;
    line-height: 1.8em;
    font-family: 'Arial',Helvetica,Arial,Lucida,sans-serif;
    font-size: 16px;
    line-height: 1.8em;
    font-weight: 100;
    
}
.sub8 h3{
    padding: 10px 0;
}
.end-one{
    width: 50%;
    padding: 110px;
}
.end-one li{
    padding: 10px 0;
    list-style: none;
}
body{
    margin: 0;
}